<h1>Sign Up for "FREE"</h1>
<form action=" <%= users_url %> " method="post">
  <label for="username">Username: </label>
  <input type="text" name="user[username]" placeholder="your username">
  <label for="password">Password: </label>
  <input type="password" name="user[password]">
  <input type="submit" value="Sign Up!">
</form>
